* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* border: 1px solid grey; */
  font-family: 'Google Sans',sans-serif;
}

.displayFlexClass{
 display: flex;
}

h1,h2{
  font-weight: 500;
font-size: 24px;
line-height: 32px;
margin-bottom: 20px;
}

p{
  font-family:Roboto, arial, sans-serif;
font-size:14px;
font-weight:400;
margin-bottom: 20px;
}

ul li {
  display:inline-block;
  margin-bottom: 5px;
}

.header-container{
  width: 95vw;
  margin: auto;
  padding: 10px;
}

.logo{
  padding: 10px;
}

.prova{
  justify-content: space-between;
}

.prova ul li a, h2 {
  text-decoration: none;
  color: grey;
  margin-right: 40px;
}

.container{
  margin:auto;
  width: 80vw;
  margin-top: 30px;
}
